<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>小球飞入</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/myPlug/static/src/style/reset.css">
<link rel="stylesheet" type="text/css" href="/myPlug/static/src/style/icons/icon.css">
</head>
<style type="text/css">
	.stat {
		 margin-top: 55px;
		 margin-left: 33px;
	}
	.over {
		 margin-top: 255px;
		 margin-left: 555px;
	}
	div {
		font-size: 18px;
		cursor: pointer;
	}
</style>
<body>
 <div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 	<div>1231</div>
 </div>
 <div class="stat">a</div>
 <div class="over">b</div>
 <video width="530" height="300" controls="controls" src="http://video.fztk.dodoedu.com/16110769626680.mp4"></video>
</body>
<script src="/myPlug/static/src/js/lib/require.js"></script>
<script src="/myPlug/static/src/js/re-config.js"></script>
<script src="/myPlug/static/src/js/myfyle.js"></script>
</html>
</html>