<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>锚点</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/myPlug/static/src/style/reset.css">
<link rel="stylesheet" type="text/css" href="/myPlug/static/src/style/icons/icon.css">
</head>
<style type="text/css">
  .btn-box {
  	 width: 200px;
  	 height: 200px;
  	 position: fixed;
  	 top:20px;
  	 right: 0;
  	 border:1px solid red;
  }
  .btn-box button {
  	 display: block;
  }
  div {
  	 text-align: center;
  	 font-size: 20px;
  }
</style>
<body>    
	<div class="btn-box">
		<button scrollTo="#miaodian1" class="btn1">锚点1</button>
        <button scrollTo="bottom" class="btn2">下底</button>
         <button anchor="top" class="btn3">上顶</button>
	</div>
<div class="content" id="top">
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div style="color: red" id="miaodian1">1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
	<div>1</div>
</div>
<div id="bottom">
	底部
</div>
</body>

<script src="/myPlug/static/src/js/lib/require.js"></script>
<script src="/myPlug/static/src/js/re-config.js"></script>
<script src="/myPlug/static/src/js/myMaodian.js"></script>
</html>