<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<title>aos</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="/myPlug/static/src/style/reset.css">
<link rel="stylesheet" type="text/css" href="/myPlug/static/src/style/icons/icon.css">
<link rel="stylesheet" type="text/css" href="/myPlug/static/src/js/lib/aos/aos.css">
</head>
<style type="text/css">
   .wrap { width: 1180px;overflow: hidden;margin: 0 auto; }
   .wrap > div { float: left; width: 20%;background: pink;margin: auto 10px;height: 160px;margin-bottom: 10px;}
   [name] {
   	 display: none;
   }
</style>
 <!-- data-aos-anchor-placement="top-center" 触发位置--> 
<body>    
	<div class="title" name="top" style="width: 220px;height: 220px;background: red;">
		1223
	</div>
	<div class="wrap">
		<div data-aos="fade-up">1</div>
		<div class="aos-animate aos-init" aos="fade-up" aos-easing="ease" aos-delay="400">aos-animate</div>
		<div>3</div>
		<div>4</div>
		<div data-aos="zoom-out-left">zoom-out-left</div>
		<div data-aos="zoom-in">zoom-in</div>
		<div data-aos="zoom-out">zoom-out</div>
		<div  data-aos="zoom-in-right">zoom-in-right</div>
		<div data-aos-easing="linear" data-aos="slide-up">linear</div>
		<div data-aos-easing="ease-in" data-aos="slide-up">ease-in</div>
		<div data-aos-easing="ease-out" data-aos="slide-up">ease-out</div>
		<div data-aos-easing="ease-out-back" data-aos="slide-up" data-aos-duration="1200">ease-out-back</div>
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div data-aos="fade-down-right">fade-down-right</div>
		<div data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine"></div>
		<div data-aos="fade-up"  style="background: blue">3</div>
		<div  data-aos="fade-down-left">fade-down-left</div>
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
		<div>1</div>
		<div>2</div>
		<div>3</div>
		<div>4</div>
	</div>
</body>

<script src="/myPlug/static/src/js/lib/require.js"></script>
<script src="/myPlug/static/src/js/re-config.js"></script>
<script src="/myPlug/static/src/js/myAos.js"></script>
</html>



<!-- 缩放动画:
    zoom-in
    zoom-in-up
    zoom-in-down
    zoom-in-left
    zoom-in-right
    zoom-out
    zoom-out-up
    zoom-out-down
    zoom-out-left
    zoom-out-right

 滑动动画:
    slide-up
    slide-down
    slide-left
    slide-right   

翻转动画:

    flip-up
    flip-down
    flip-left
    flip-right

淡入淡出动画:

    fade-up
    fade-down
    fade-left
    fade-right
    fade-up-right
    fade-up-left
    fade-down-right
    fade-down-left

 锚位置:

    top-bottom
    top-center
    top-top
    center-bottom
    center-center
    center-top
    bottom-bottom
    bottom-center
    bottom-top

easing动画:

    linear
    ease
    ease-in
    ease-out
    ease-in-out
    ease-in-back
    ease-out-back
    ease-in-out-back
    ease-in-sine
    ease-out-sine
    ease-in-out-sine
    ease-in-quad
    ease-out-quad
    ease-in-out-quad
    ease-in-cubic
    ease-out-cubic
    ease-in-out-cubic
    ease-in-quart
    ease-out-quart
    ease-in-out-quart
 